:root {
  /* Master Color Theme - change color theme here */
    --white: #fff;
    --blueA: #56A6A6;
    --blueB: #356666;
    --blueC: #77E6E6;
    --blueD: #7EF2F2;
    --blueE: #6BCCCC;
    --highlight: #E66312; 
    --bkColor: #13293d;
    
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Main header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    background-color: var(--bkColor);
    color: var(--white);
    border: 10px solid #E66312;
    border-radius: 4px;
    min-width: 575px;
  }

h1 {
    text-shadow: 2px 2px var(--blueC);
  }

/* nav link list */
nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
    font-size: 150%;
    color: var(--white);

  }
  
  /* flex container to hold project cards */
.container {
    display: flex;
    flex-direction: column;
  }

  /* Nav links color  */
nav a {
    color: white;
  }
  
  /* Nav Links on Hover */
nav a:hover {
    color: var(--highlight);
  }

/* Calligraphy in the header */
.signature {
    color: var(--blueA);
    justify-content: right;
    display: flex;
    font-family: 'Square Peg', cursive;
    background-color: var(--bkColor);
    font-size: 500%;
    padding-bottom: 2%;
    padding-left: 2%;
    text-shadow: 2px 2px var(--blueC);
}

/* profile picture on right side */

.profilePicture img {
  border: 10px solid #E66312;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  height: 300px;
  float: right;
  margin: 25px;
  min-width: 325px;
  }

  /* Vertical orange line on left side of page  */
.v1 {
  border-left: 6px solid var(--highlight);
  padding: 10px;
}

h2 {
  font-size: 400%;
  padding: 30px;
  color: var(--blueB);
  width: 100%;
  font-stretch: expanded;
  text-shadow: 3px 3px var(--blueD);
  
}

/* Top image in project cards  */
.card-img-top {
  height: 180px;
}

/* CSS to make main project larger than rest but not crazy large */
#mainProject {
height: 300px;
max-width: 500px;
min-width: 300px;
}

